/node_modules/
**/.yarn

yarn-error.log

**/.DS_Store

**/tsconfig.tsbuildinfo

# testing
/coverage

**/.DS_Store

**/.xcode.env.local

*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
